
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    min-height: 100%;
    height: 100%;
    display: block;
}

.card {
    cursor: pointer;
}

.card-image {
    width: 100%;
}

.full-height-none {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

@media (max-device-width: 443px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 444px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 744px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 1204px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 1304px) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}



.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

    .typeahead-demo .custom-popup-wrapper > .message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }

    .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }


.header-background {
    background: linear-gradient(to bottom, #e2e1eb 70%, #f9f9f9 30%);
}

.navbar-toggler {
    outline: none !important;
}

/* responsive nav stacked liked 3.x */
@media(max-width:992px) {
    #nav1.navbar .navbar-brand {
        float: none;
        display: block;
    }

    #nav1.navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    #nav1.navbar .navbar-nav {
        float: none !important;
    }
}

@media(max-width:768px) {
    #nav2.navbar .navbar-brand {
        float: none;
        display: block;
    }

    #nav2.navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    #nav2.navbar .navbar-nav {
        float: none !important;
    }
}

@media(max-width:544px) {
    #nav3.navbar .navbar-brand {
        float: none;
        display: block;
    }

    #nav3.navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    #nav3.navbar .navbar-nav {
        float: none !important;
    }

    .header-background {
        background: linear-gradient(to bottom, #e2e1eb 60%, #f9f9f9 40%);
    }
    
    .navbar-toggleable-sm {
        background: #e2e1eb;
    }
}
