
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #f9f9f9 !important;
}

.container {
    min-height: 100%;
    height: 100%;
    display: block;
}

.card {
    cursor: pointer;
    display: inline-block !important;
}

.card-image-top {
    width: 100%;
}
 
@media (max-device-width: 443px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 444px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 744px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 1204px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

@media (min-width: 1304px) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

.highlighted-box
{
    background-color: #eceaeb;
}
 

.header-background {
    background: linear-gradient(to bottom, #e2e1eb 70%, #f9f9f9 30%);
}

.navbar-toggler {
    outline: none !important;
}

@media(max-width:992px) {
    .navbar .navbar-brand {
        float: none;
        display: block;
    }

    .navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    .navbar .navbar-nav {
        float: none !important;
    }
    
    .header-background {
            background: linear-gradient(to bottom, #e2e1eb 60%, #f9f9f9 40%);
        }
        
    .navbar-toggleable-md {
        background: #e2e1eb;
    }
}
