

<div class="row">
    <h2 class="col-xs-12">Fancy cocktail dress</h2>
    <span class="col-xs-12">
        <img src="/images/icon-location.png" alt"location - {{dress.distance}} " />
        &nbsp;{{dress.distance}}
   </span>
</div>

<div class="row">
    <div class="col-xs-6">
        <button type="button" class="btn btn-secondary btn-block" >
        Buy for $120
        </button>
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-secondary btn-block">
        Borrow for $15
        </button>
    </div>
</div>

<div class="row">
   <p class="col-xs-12">
       Great! Someone doesn't mind borrowing her dress for the night.
   </p>
   <p class="col-xs-12">
       Contact her directly to borrow it.
   </p>
</div>

<div class="row">
    <label class="col-xs-3">Fee:</label>
    <div class="col-xs-9">
        <p>$15</p>
        <p>(incl. fee for dry cleaning)</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-2  highlighted-box">
        <img src="images/bhuvanaimage.png" class="img-circle img-fluid"/>
    </div>
    <div class="col-xs-10 highlighted-box">
        <p>Simone N., Ultimo 2007</p>
        <button type="button" class="btn btn-secondary btn-block">
        Send Message
        </button>
        <p>04XXXXXX05<p>
        <a href="#">show number</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img class="img-fluid" src="/images/dress1.jpg"/>
    </div>
</div>
 