    
    <div class="col-xs-12 col-sm-12 col-lg-12 m-t-1 m-b-1">
     
<!--            <input type="text" placeholder="I m looking for..." ng-model="searchText" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="col-sm-8 form-control" />   --> 
             <input type="text" placeholder="I m looking for..." ng-model="searchText"  class=" form-control" />  
             <img src="/images/location-filter.png" ng-show="searchText"/> 
    </div>
   
  

    <div class="col-xs-12 bd-content full-height top-margin4-xs">
        
            <div class="card-columns full-height">

                <div  class="card" ng-repeat="dress in dresses| filter:searchText  track by dress.id" ng-click="Open()">
                      <img ng-src="{{dress.image}}" alt="{{dress.label}}" class="card-image" />

                    
                    <div class="card-block">
                       
                        
                       
                        <h4 class="card-title" style="font : bold 14px Verdana">{{dress.label}}</h4>
                        <p class="card-text m-b-0 text-muted" style="font : 12px Verdana; color:#55556e">Buy me for&nbsp;{{dress.buy}} </p>
                        <p class="card-text m-b-0 text-muted" style="font : 12px Verdana; color:#55556e">Borrow me for&nbsp;{{dress.rent}}</p>
                        <p class="card-text text-muted" style="font : 12px Verdana;"><span><img src="/images/icon-location.png" alt"location - {{dress.distance}}" /></span>&nbsp;{{dress.distance}}</p>
                    </div>
                </div>

               
                
            </div>
        </div>

